div.e1f1d6gn2 { /* Stats Boxes */
    text-align: center;
    background-color: #404154;
    padding: 10px;
    border-radius: 10px;
}

div.st-emotion-cache-1kvxhyx.e1f1d6gn3 { /* Match History */
    margin-bottom: -20px;
}

div.e11y4ecf0 { /* Fix Text Input */
    margin-bottom: 20px;
}