<!DOCTYPE html>
<html>
<script src="main.js"></script>    
<body>

<h1>L Shikhar!</h1>
<p>He likes men!</p>

<h2>GameInfo</h2>
<table border="1">
    <tr>
        <th>Map</th>
        <th>Time Start</th>
        <th>Game Length</th>
        <th>Result</th>
        <th>Score</th>
    </tr>
    {% for row in all_games %}
        <tr>
            <td>{{x.matchid}}</td>
            <td>{{x.time_start}}</td>
            <td>{{x.game_length}}</td>
            <td>{{x.result}}</td>
            <td>{{x.score}}</td>
        </tr>
    {% endfor %}
    </table>
</table>

<h2>Recent Games</h2>
<table border="1">
    <tr>
        <th>Map</th>
        <th>Time Start</th>
        <th>Game Length</th>
        <th>Result</th>
        <th>Score</th>
        <th>Upload</th>
    </tr>
    {% for row in recent_games %}
        <tr>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            <td>
                <button onclick="upload_game({{ row.1 }})">Upload!</button>
            </td>
        </tr>
    {% endfor %}
    </table>
</table>


</body>
</html>